body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.numbers-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.number {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}